<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.tour.dao.marinelife.MarineAnimalDao">
	
	
	<select id="getAllMarine" resultType="list">
		SELECT * FROM tbl_marineanimal
	</select>
	
	<insert id="insertAnimal" parameterType="MarineLifeAPIVO">
	
	INSERT INTO tbl_marineanimal(sciKr , distrInh, chrtr, latD, latM, latS, lonD, lonM, lonS)
	VALUES
	
	<foreach collection="list"  item="marinList" separator=",">
	(#{marinList.sciKr},  #{marinList.distrInh}, #{marinList.chrtr}, #{marinList.latD}, #{marinList.latM}, #{marinList.latS}, #{marinList.lonD}, #{marinList.lonM}, #{marinList.lonS})
	</foreach>
	
	</insert>
	
	
	
</mapper> 